[submodule ".vim/bundle/nerdtree"]
	path = HOME/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = HOME/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/puppet-syntax-vim"]
	path = HOME/.vim/bundle/puppet-syntax-vim
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
[submodule ".vim/bundle/vim-rails"]
	path = HOME/.vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-bundler"]
	path = HOME/.vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = HOME/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/javascript-libraries-syntax.vim"]
	path = HOME/.vim/bundle/javascript-libraries-syntax.vim
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule ".vim/bundle/vim-surround"]
	path = HOME/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/nginx.vim"]
	path = HOME/.vim/bundle/nginx.vim
	url = https://github.com/vim-scripts/nginx.vim
[submodule ".vim/bundle/vim-colors-solarized"]
	path = HOME/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/auto-pairs"]
	path = HOME/.vim/bundle/auto-pairs
	url = http://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/bundle/python-syntax"]
	path = HOME/.vim/bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule ".vim/bundle/vim-commentary"]
	path = HOME/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/ansible-vim"]
	path = HOME/.vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule "HOME/.vim/bundle/typescript-vim"]
	path = HOME/.vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
