[submodule "dotfiles-config-lunarvim"]
	path = HOME/lvim
	url = https://github.com/spottybones/dotfiles-config-lunarvim.git
[submodule "dotfiles-config-git"]
	path = HOME/git
	url = https://github.com/spottybones/dotfiles-config-git.git
[submodule "dotfiles-config-tmux"]
	path = HOME/tmux
	url = https://github.com/spottybones/dotfiles-config-tmux.git
[submodule "dotfiles-config-bat"]
	path = HOME/bat
	url = https://github.com/spottybones/dotfiles-config-bat.git
[submodule "dotfiles-config-bash"]
	path = HOME/bash
	url = https://github.com/spottybones/dotfiles-config-bash.git
