[alias]
    l = log --pretty=oneline -n 20 --graph
[color]
    ui = true
[user]
    name = Scott Burns
    email = sburns@centercitypcs.org
[pager]
    status = true
[core]
    autocrlf = false
    ignorecase = false
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    editor = /usr/bin/vim
	safecrlf = false
	eol = lf
[branch]
    autosetuprebase = always
[diff]
    renames = copies
[push]
    default = matching
